p {
    border: 2px solid yellow;
    padding: 30px;
    text-align: center;
}
.profilePic{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.Linkedin{
    text-align: center;
}
pre{
    text-align: center;
}
.edu {
    border:1px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    border-radius: 10px;
}
tr{
    border:1px solid black;
}
th{
    border:1px solid black;
}